.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
  padding: 0 19px;
  display: flex;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal__container {
  background-color: #fff;
  max-width: 430px;
  height: 330px;
  width: ;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__content_type_preview {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
  background: transparent;
}

.modal__image {
  max-width: 100%;
  max-height: calc(75vh - 20px);
  object-fit: cover;
}

.modal__caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #fff;
  margin: 10px 0;
}

.modal__heading {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 54px 0;
}

.modal__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-button:hover {
  opacity: 0.5;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  margin-bottom: 30px;
  padding: 13px 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:last-of-type {
  margin: 0;
  padding: 13px 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 13.6px 125px 18.5px;
  border-radius: 2px;
  margin: 48px 0 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__close-button {
    top: -40px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    color: #000;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px 0;
  }

  .modal__button {
    margin: 45px 0 0;
    padding: 14px 100px;
    font-size: 14px;
    line-height: 17px;
  }
}
